html, body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

* {
    box-sizing: border-box;
  }

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato';
    font-style: normal;
}

h2{
    color: #323237;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
}

label{
    font-weight: 700;
}

input[type="radio"] {
    accent-color: #96172E;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
}

input[type="text"],
input[type="date"] {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    padding:6px 8px;
    border: none;
    border-bottom: 1px solid #323237;
    display: inline-block;
}

button {
    font-family: 'Lato';
    font-style: normal;
    background: #DA291C;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    border:none;
    padding: 5px 80px;
}

.right{
    float: right;
}

.header__nav{
    background: #DA291C;
}

.header__logo{
    display: inline-block;
}

.header__logo{
    padding: 1rem;
}

.header__mainmenu{
    list-style: none;
    display: inline-block;
    float: right;
    margin: 0;
}

.header__mainmenu li{
    float: left;
}

.header__mainmenu li a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    text-align: center;
    padding: 28px;
    display:flex;
    position: relative;
    overflow: hidden;
}

.header__mainmenu li a:hover::after{
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
}

.hero{
    background: url("../images/hero-image.png");
    background-size: cover;
    display: flex;
}

.hero__text{
    color: #ffffff;
    padding: 25px 35px;
    background: rgba(0, 0, 0, 0.28);
    width: 480px;
    margin: 80px 0;
    float: right;
}

.hero__text h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
}

.hero__text p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hero__text a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    background: #DA291C;
    border-radius: 5px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    width: 235px;
    height: 43px;
}

.searcher__box{
    padding: 45px;
    background: #FFFFFF;
    opacity: 0.95;
    border: 1px solid #E2E8EE;
    margin-top: -30px !important;
    overflow: auto;
}

.searcher__box h2{
    margin-top: 0px;
    margin-bottom: 35px;
}

.searcher__radiolabel{
    margin-right: 60px;
}

.searcher__promotionalcode{
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #96172E;
    display: inline-block;
}

.searcher__promotionalcode span{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 50%;
    position:relative;
    background: #96172E;
    padding: 0 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.searcher__form .col-3 {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.searcher__form .col-3 .column{
    padding: 20px;
}

.recommendations{
    margin: 80px 0;
}

.recommendations h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.recommendations .recommendation__configlink{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #96172E;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 60px;
}

.recommendations_item{
    border: 1px solid #E2E8EE;
    border-radius: 3px;
}

.recommendations_imgitem{
    width: 100%;
}

.recommendations_contentitem{
    padding: 20px;
}

.recommendations_from, 
.recommendations_to,
.recommendations_icontitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    line-height: 19px;
    display: inline-block;
}

.recommendations_from span,
.recommendations_to span{
    color: #979797;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    display:block;
}

.recommendations_icontitle{
    padding: 0 20px;
    vertical-align: super;
}
.recommendations_price{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 5px;
}

.recommendations_price strong{
    font-weight: 700;
    font-size: 24px;
    display: block;
}

.recommendations_price span{
    font-weight: 400;
    font-size: 12px;
    padding-left: 5px;
    display: inline-block;
}

.recommendations_flightdetails{
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #979797;
    padding-left: 22px;
    background: url(../images/plane.png) no-repeat 0 6px;
}

.recomendations_linkitem{
    background: #DA291C;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    margin-top:8px;
}

.directlinks{
    background: #FAFAFA;
    padding: 60px 0;
    margin: 90px 0;
}

.directlinks h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.directlinks h3.plane{
    background: url(../images/avion.png) no-repeat left center;
}

.directlinks h3.magnify{
    background: url(../images/lupa.png) no-repeat left center;
}

.directlinks h3.password{
    background: url(../images/start.png) no-repeat left center;
}

.directlinks h3, .directlinks p, .directlinks a{
    padding-left: 50px;
}

.directlinks p, .directlinks a{
    font-size: 14px;
    line-height: 24px;
}

.directlinks a{
    color: #96172E;
    font-weight: bold;
    padding-right: 20px;
    background: url(../images/link.png) no-repeat right center;
}

.keepinmind {
    margin-bottom: 90px;
}

.keepinmind h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.keepinmind h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin-top: 0px;
}

.keepinmind p{
    font-size: 14px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 22px;
}

.keepinmind a{
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    border: 2px solid #323237;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    color: #323237;
    margin-top: 20px;
    display: inline;

}

.keepinmind .column-inner{
    border: 1px solid #E2E8EE;
    border-radius: 3px;
    padding: 35px;
}

footer{
    background: #FAFAFA;
    border: 1px solid #D8D8D8;
    padding: 80px 0;
}

footer h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #DA291C;
    margin-bottom:35px;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    margin-bottom: 15px;
}

footer ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #323237;
}

.socialmedia__nav li, .secure__nav li{
    display: inline;
}

.socialmedia__nav li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #323237;
}

.socialmedia__twitter, 
.socialmedia__facebook,
.socialmedia__youtube,
.socialmedia__instagram{
    padding-left: 28px;
    position: relative;
    margin-right:40px;
}

.socialmedia__instagram{
    margin-right:0px;
}

.socialmedia__twitter::after,
.socialmedia__facebook::after,
.socialmedia__youtube::after,
.socialmedia__instagram::after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.socialmedia__twitter::after{
    background: url(../images/twitter.png) no-repeat 4px 4px #96172E;
    background-size: 12px;
}

.socialmedia__facebook::after{
    background: url(../images/facebook.png) no-repeat 4px 4px #96172E;
    background-size: 13px;
}

.socialmedia__youtube::after{
    background: url(../images/youtube.png) no-repeat 5px 6px #96172E;
    background-size: 12px;
}

.socialmedia__instagram::after{
    background: url(../images/instagram.png) no-repeat 4px 4px #96172E;
    background-size: 12px;
}

.secure__nav{
    text-align: center;
}

.secure__nav li img{
    margin: 0 20px;
}

.footer__logos{
    margin: 50px 0 30px !important;
    border-top: 1px solid #D8D8D8;
    padding-top:50px;
}

.footer__copyright{
    color: #9B9B9B;
    font-size: 14px;
}

.container-box{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    
}

.mb-35{
    margin-bottom: 35px !important;
}

.pdl-30{
    padding-left: 30px;
}

.pdr-30{
    padding-right: 30px;
}

.grid-2 {
    display: grid;
    width: 100%;
    margin: 0 auto;
    
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 40px;
    
  }

.grid-3 {
    display: grid;
    width: 100%;
    margin: 0 auto;
    
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 40px;
    
  }

[class*="col-"] {
    float: left;
}

.tar{
    text-align: right;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    .hero {
        background-position: 23%;
    }

    .hero__text {
        padding: 25px 25px;
        width: 100%;
        margin: 160px 20px 20px;
    }

    .hero__text h1 {
        font-weight: 900;
        font-size: 32px;
        line-height: 40px;
    }

    .hero__text p {
        font-size: 20px;
    }

    .hero__text a {
        display: none;
    }

    .searcher, .recommendations, .directlinks, .keepinmind{
        padding: 20px;
    }

    .searcher__box {
        margin-top: 30px !important;
    }

    .pdr-30{
        padding-right: 0px;
    }

    .pdl-30{
        padding-left: 0px;
    }

    button {
        padding: 5px 40px;
        width:100%
    }

    .right{
        float:center;
    }

    .recommendations__items .recommendations_item{
        display: none;
    }

    .recommendations__items .recommendations_item:first-child{
        display: block;
    }

    .keepinmind a {
        padding: 5px 5px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top:10px;
    }

    .searcher__promotionalcode{
        margin-bottom: 40px;
    }

    .header__mainmenu{
        display: none;
    }

    .keepinmind .grid-2,
    .footer___followus .grid-2 {
        grid-template-columns: 1fr;
        grid-gap: 0px;
      }
    
    .grid-3 {
        grid-template-columns: 1fr;
      }

    footer{
        padding: 40px;
    }

    .secure__nav {
        text-align: initial;
    }

    .socialmedia__nav li{
        display: inline-block;
        width: 24px;
        overflow: hidden;
        margin-right: 30px;
        height: 33px;
    }

    .secure__nav li img {
        margin: 0 5px;
        height:30px;
    }

    .footer__logos img{
        height: 25px;
    }    
}
